* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffff;
}

/* Cabeçalho */
header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #bbdefb;
    position: relative;
}

header img {
    position: absolute;
    top: 150px;
    left: -280px;
    width: 900px;
    height: 500px;
}

header h1 {
    font-size: 2.5rem;
    color: #bbdefb;
    letter-spacing: 20px;
}

/* Menu de navegação */
nav {
    background-color: #bbdefb;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid #bbdefb;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #ffff;
    transform: translateY(-5px);
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
}

/* Linhas de serviços */
.service-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.service-row.center {
    justify-content: center;
}

/* Caixas de serviço */
.service-box {
    background-color: #8CACC5;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.service-box p {
    font-size: 1rem;
    color: #333;
}

/* Rodapé */
footer {
    background-color: #000;
    color: #8CACC5;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #bbdefb;
}

footer p {
    font-size: 1rem;

}

