
body {
    margin: 0;
    padding: 0;
    background-color: #f2f4f6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.titulo {
    margin-top: 18px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}


.input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.button {
    width: 100%;
    padding: 12px;
    background-color: #3b82f6;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
}

.button:hover {
    background-color: #2563eb;
}


.mensagem {
    margin-top: 18px;
    font-size: 14px;
}
