
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #4a4a4a;
}

.header h1 {
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0;
}

.header h2 {
    margin-top: 5px;
    font-weight: 300;
    color: #cfcfcf;
}


.container {
    width: 50%;
    margin: 40px auto;
    background-color: #0d0d0d;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #4f4fff77;
    text-align: center;
}


.label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}


.input {
    width: 70%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1b1b1b;
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
    transition: 0.2s;
}




.button {
    background-color: #4f4fff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.button:hover {
    background-color: #3a3ad8;
    box-shadow: 0 0 10px #4f4fff;
}


.paragrafo {
    margin-top: 15px;
    font-size: 16px;
    color: #adadff;
}
